.input {
    display: flex;
    flex-direction: row;
    padding: 0.81rem 0.70rem;
    align-items: center;
    align-self: stretch;
    gap: 0.6rem;
    border-radius: 0.3rem;
    background-color: var(--primary-normal);
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}

.vertical-line {
    width: 1px;
    align-self: stretch;
    background-color: var(--secondary-normal);
    border-radius: 50%;
}

.horizontal-line {
    height: 1px;
    flex-grow: 1;
    background-color: var(--secondary-normal);
    border-radius: 50%;
}

.input-data {
    flex-grow: 1;
    border: 0;
    color: var(--secondary-normal);
    background-color: transparent;
}

.input-data:focus {
    outline: none;
}

.input-data::placeholder {
    color: var(--primary-dark-hover);
}

.input-submit {
    display: flex;
    background-color: var(--orange-normal);
    justify-content: center;
    align-items: center;
    padding: 0.9rem 0;
    align-self: stretch;
    border: none;
    border-radius: 0.75rem;
}

.input-submit h1 {
    color: var(--primary-normal);
    font-weight: 400;
    font-size: 1rem;
}



.resep-menus {
    display: flex;
    height: 100vh;
    align-self: stretch;
    gap: 0.6rem;
    flex-shrink: 0;
    flex-direction: column;
}

.input-dropdown {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.dropdown-datas {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.dropdown-data {
    display: flex;
    flex-direction: row;
    padding: 0.81rem 0.70rem;
    align-items: center;
    align-self: stretch;
    gap: 0.6rem;
    border-radius: 0.3rem;
    background-color: var(--primary-normal);
}

.navbar-back {
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

.navbar-back .material-icons-round {
    color: var(--accent-normal);
}

.resep-logo {
    display: flex;
    width: 4.3rem;
    height: 4.3rem;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    border-radius: 1rem;
    background-color: #FEE7C3;
}

.resep-logo-locked {
    display: flex;
    width: 4.3rem;
    height: 4.3rem;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    border-radius: 1rem;
    background-color: #B9B8B6;
}

.resep-logo span {
    font-size: 24px;
    color: #ff7a00;
}