/* Container Utama */
.resep {
    cursor: pointer;
    transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    flex-direction: column;
    border-radius: 1.25rem;
    border: 1px solid #F2E2D9;
    background-color: white;
    max-width: 24rem;
    overflow: hidden;
}

.resep:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(255, 122, 0, 0.1);
    border-color: #ffd0a8;
}

/* Banner */
.resep-banner {
    width: 100%;
    height: 11rem;
    background-color: #FFF5E9;
}

.resep-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Area Konten Bawah */
.resep-container-bottom {
    display: flex;
    padding: 1.2rem 1rem;
    justify-content: space-between;
    align-items: center;
}

.resep-title {
    font-size: 1.15rem;
    margin-bottom: 0.6rem;
    color: #1A1A1A;
}

.resep-content-detail {
    display: flex;
    gap: 1.2rem;
    margin-bottom: 0.8rem;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.info-item p {
    font-size: 14px;
    margin: 0;
    color: #4A4A4A;
}

/* Warna Icon Spesifik */
.icon-time {
    font-size: 1.2rem;
    color: #7A7A7A; /* Abu-abu kalem untuk jam */
}

.icon-star {
    font-size: 1.2rem;
    color: #FFC107; /* Kuning Emas Cerah */
}

/* User & Verified */
.resep-verified {
    display: flex;
    gap: 0.4rem;
    align-items: center;
}

.user-name {
    font-size: 14px;
    color: #888;
    margin: 0;
}

.verified-badge span {
    font-size: 1.1rem;
    color: #007BFF; /* Biru khas verified */
}

/* Bagian Kanan */
.resep-stats-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.2rem;
}

.arrow-icon {
    font-size: 1.5rem;
    color: #333;
    font-weight: bold;
}

.views-wrapper {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    color: #BDBDBD;
    font-size: 12px;
}

.views-wrapper span {
    font-size: 1rem;
}