.auth-section {
    height: 100vh;
    width: 100%;
    padding: 0 2rem;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border-radius: 1.5rem;
}

.logo {
    height: 6rem;
    flex-shrink: 0;
}

.form {
    background-color: white;
    width: 400px;
    padding: 1.25rem 1.8rem 2.5rem 1.8rem;
    align-items: flex-start;
    gap: 1.5rem;
}

.form-inputs {
    align-self: stretch;
    gap: 0.5rem;
}

.auth-text {
    align-items: flex-start;
    gap: 0.5rem;
    align-items: stretch;
}

.auth-link a {
    color: var(--accent-normal-active);
    text-decoration: none;
}

.divider {
    align-self: stretch;
    align-items: center;
    gap: 0.6rem;
}

.google-login {
    background-color: var(--primary-normal);
    padding: 0.9rem 0;
    justify-content: center;
    align-items: center;
    gap: 0.9rem;
}

.google-login img {
    width: 1.25rem;
}

.google-login h1 {
    color: var(--secondary-normal);
}

.wrap-forgot-pass {
    gap: 0.5rem;
    align-items: stretch;
}

.input-tokens {
    position: relative;
    display: flex;
    flex-direction: column;
}

.input-tokens input {
    font-size: 24px;
    letter-spacing: 22px;
    /* Atur angka ini sampai pas dengan jarak garis */
    width: 250px;
    z-index: 2;
    padding-left: 10px;
}

.lines {
    position: absolute;
    bottom: -5px;
    display: flex;
    gap: 12px;
    /* Jarak antar garis bawah */
    z-index: 1;
}

.lines span {
    display: block;
    width: 30px;
    /* Lebar satu garis */
    height: 2px;
    background-color: #555;
}