.main-content {
    padding: 0 0.7rem;
}

.filter-wrapper {
    display: flex;
    gap: 0.5rem;
    padding: 0.6rem 0;

    overflow-x: auto;
    white-space: nowrap;

    position: sticky;
    top: 70px;
    z-index: 100;

    background-color: #fff;
}

.filter-wrapper::-webkit-scrollbar {
    display: none;
}

.chip {
    display: inline-flex;
    align-items: center;
    gap: 0.4rem;

    padding: 0.4rem 0.9rem;
    border-radius: 999px;

    font-size: 0.75rem;
    font-weight: 500;

    cursor: pointer;
    white-space: nowrap;

    transition: all 0.2s ease;
}

.chip-main {
    background-color: var(--orange-normal);
    color: #fff;
}

.chip-active {
    border: 1px solid var(--orange-normal);
    background-color: #fff;
    color: var(--orange-normal);
}

.chip-count {
    padding: 2px 6px;
    border-radius: 999px;

    font-size: 0.65rem;
    font-weight: 600;

    background-color: #fff;
    color: var(--orange-normal);
}

@media (min-width: 768px){
    .resep-menus{
        display: grid;
        column-gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
        height: fit-content;
    }
    .resep{
        max-width: 100%;
    }
}

@media (min-width: 768px){
    .resep-menus{
        display: grid;
        column-gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
        height: fit-content;
    }
    .resep{
        max-width: 100%;
    }
}