.swipe-container{
    margin-top: 1rem;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.swipe-cards{
    position:relative;
    width: 260px;
    height: 360px;
}

.swipe-card{
    position:absolute;
    width:100%;
    height:100%;
    border-radius:1.5rem;
    padding:2rem 1rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,0.1);
    transition:0.3s;
    cursor: grab;
    user-select: none;
}

.swipe-card img{
    width:80px;
    margin-bottom:1rem;
}

.swipe-buttons{
    margin-top:2rem;
    display:flex;
    gap:2rem;
}

.swipe-buttons button{
    width:60px;
    height:60px;
    border-radius:50%;
    border:none;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:24px;
}

#dislike{
    background:black;
    color:white;
}

#like{
    background:#ffe5e5;
    color:red;
}