.main-content{
    padding:0 0.7rem;
}

/* SEARCH */
.input{
    display:flex;
    align-items:center;
    gap:.6rem;
    padding:.8rem .7rem;
    border-radius:.8rem;
    background:var(--orange-normal);
}

.input span{
    color:#fff;
}

.input-data{
    flex:1;
    border:none;
    outline:none;
    background:transparent;
    color:#fff;
}

.input-data::placeholder{
    color:rgba(255,255,255,.7);
}

/* BAHAN */
.bahan-wrapper{
    max-height:250px;
    overflow-y:auto;
    padding-right:4px;
}

.bahan-wrapper::-webkit-scrollbar{
    width:4px;
}

.bahan-wrapper::-webkit-scrollbar-thumb{
    background:#ccc;
    border-radius:10px;
}

.bahan-item{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:.8rem;
    border-radius:1rem;
    border:1px solid #F2E2D9;
    background:#fff;
}

.bahan-left{
    display:flex;
    align-items:center;
    gap:.8rem;
}

.bahan-icon{
    width:3rem;
    height:3rem;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:.8rem;
    background:#FEE7C3;
}

.bahan-icon span{
    color:var(--orange-normal);
}

.bahan-item input{
    width:18px;
    height:18px;
    accent-color:var(--orange-normal);
}

/* BUTTON */
.terapkan-btn{
    width:100%;
    padding:14px;
    border:none;
    border-radius:12px;
    background:var(--orange-normal);
    color:#fff;
    font-weight:600;
    display:none;
}

.swipe-btn{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:.5rem;
    padding:.9rem;
    border-radius:.8rem;
    border:1px solid #F2E2D9;
    text-decoration:none;
}

.swipe-btn span{
    color:var(--orange-normal);
}

/* DIVIDER */
.horizontal-line{
    height:1px;
    background:#D6D6D6;
}

.atau-text{
    color:#9E9E9E;
}