.auth-section{
    height: 100vh;
    width: 100%;
    padding: 0 2rem;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border-radius: 1.5rem;
}

.logo{
    height: 6rem;
    flex-shrink: 0;
}

.form{
    background-color: white;
    width: 400px;
    padding: 1.25rem 1.8rem 2.5rem 1.8rem;
    align-items: flex-start;
    gap: 1.5rem;
}

.form-inputs{
    align-self: stretch;
    gap: 0.5rem;
}

.auth-text{
    align-items: flex-start;
    gap: 0.5rem;
    align-items: stretch;
}

.auth-link a{
    color: var(--accent-normal-active);
    text-decoration: none;
}

.divider{
    align-self: stretch;
    align-items: center;
    gap: 0.6rem;
}

.google-login{
    background-color: var(--primary-normal);
    padding: 0.9rem 0;
    justify-content: center;
    align-items: center;
    gap: 0.9rem;
}

.google-login img{
    width: 1.25rem;
}

.google-login h1{
    color: var(--secondary-normal);
}

.wrap-forgot-pass{
    gap: 0.5rem;
    align-items: stretch;
}